.network {
    display: none;
}

@media screen and (min-width: 768px) and (min-height: 580px) {
    .network {
        display: flex;
        position: fixed;
        bottom: 5rem;
        left: 0rem;
        background-color: var(--bg-color-dark);
        color: var(--font-color-grey);
        border-radius: 0rem 1rem 1rem 0rem;
        font-size: 1.8rem;
        font-family: var(--font-primary);
        font-weight: 500;
        text-transform: capitalize;
        padding: .5rem 1rem .5rem 1rem;
        cursor: pointer;
        user-select: none;
        transition: all .15s ease-out;
    }
    .network__logo {
        color: var(--font-color-grey);
        margin-left: 0rem;
        transition: all .15s ease-out;
    }
    .network__logo:hover {
        margin-left: 1rem;
        color: var(--font-color-accent);
    }
    .network__links {
        display: flex;
        flex-direction: row;
        color: var(--font-color-accent);
        transition: all .15s ease-out;
    }
    .network__link {
        padding-left: 1rem;
        padding-right: 1rem;
        transition: all .12s ease-out;
    }
    .network__link:hover {
        transform: scale(1.2);
    }
}