@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Playfair+Display:wght@400;500;700;800&family=Poppins:wght@300;400;700;800&display=swap');
/* Global Styles */

:root {
    --primary-color: #414af2;
    --bg-color: #1D1D1D;
    --bg-color-light: #27292c;
    --bg-color-dark: #CCC9C2;
    --accent-color: #eb4848;
    --font-color-dark: #272727;
    --font-color-light: #FAFAFA;
    --font-color-grey: #b4b4b4;
    /* Fonts */
    --font-primary: 'Poppins', sans-serif;
    /*--font-secondary: 'Playfair Display', serif;*/
    --font-secondary: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.625rem;
}

body {
    font-family: var(--font-primary);
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--font-color-light);
    overflow-x: hidden;
}

a, :visited {
    color: var(--font-color-grey);
    text-decoration: none;
    transition: all .25s ease-out;
}

a:hover {
    color: var(--accent-color);
}

ul {
    list-style: none;
}