.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7.5rem max-content max-content 1fr;
    height: 100vh;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 7rem;
    align-items: start;
    justify-items: center;
    padding: 0rem 4rem 4rem 4rem;
}

.projects__skills {
    margin: 1rem 0rem;
    max-width: 30rem;
    font-size: 2.3rem;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    color: var(--font-color-grey);
    cursor: pointer;
}

.projects__skills * {
    margin: 1rem .6rem 3rem .6rem;
    transition: all .1s ease-out;
}

.projects__skills *:hover {
    color: var(--accent-color);
}

.projects__title {
    font-size: 2.3rem;
    font-family: var(--font-primary);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5rem;
    align-self: center;
    justify-self: center;
    padding-top: 3rem;
}