.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7.5rem max-content 1fr;
    height: 100vh;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 7rem;
    align-items: start;
    justify-items: center;
    padding: 2.5rem;
}

.projects__title {
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}