.landing {
    grid-row: 2/-1;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: 45% max-content;
    max-width: 80rem;
    height: 100%;
    justify-items: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--font-primary);
    color: var(--font-color-accent);
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--font-primary);
    color: var(--font-color-accent);
    margin-bottom: .5rem;
    text-transform: uppercase;
}

p {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--font-color-light);
}

.landing__text {
    justify-self: end;
    align-self: end;
    padding: 0rem 4rem;
    margin-bottom: 1rem;
}

.landing__text p:first-of-type {
    color: var(--font-color-accent);
    font-weight: 400;
    font-size: 2rem;
}

.landing__buttons {
    align-self: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0rem 0rem;
    margin-top: 5rem;
}

.landing__button {
    font-size: 1.1rem;
    background-color: var(--bg-color-dark);
    font-family: var(--font-primary);
    color: var(--font-color-light);
    font-weight: 600;
    width: fit-content;
    width: 8rem;
    text-align: center;
    padding: 10px 5px;
    text-transform: uppercase;
}

.landing__button:hover {
    transform: scale(1.025) translateY(-2px);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
}

.skills {
    align-self: start;
    display: grid;
    justify-items: center;
    margin: 8rem 0rem;
}

.skills__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 3rem;
    justify-items: center;
}

.skills__icons div {
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    transition: .2s all ease-out;
}

.skills p {
    color: var(--font-color-grey);
}

.skills__icons div:not([type=p]):hover {
    color: var(--font-color-accent);
    cursor: pointer;
    transform: scale(1.05) translateY(-3px);
}

.skills__icons> :nth-child(3) {
    grid-column: 1/-1;
}

@media screen and (min-width: 768px) {
    .landing {
        grid-template-rows: 42% max-content;
    }
    .skills {
        margin: 15rem 0rem;
    }
}