.landing {
    grid-row: 2/-1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(1rem, 1fr) minmax(min-content, max-content) minmax(1rem, 1fr);
    justify-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--font-primary);
}

p {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--font-color-grey)
}

.landing__text {
    grid-column: 2/3;
    align-self: end;
    justify-self: center;
    margin-bottom: 5rem;
}

.landing__buttons {
    grid-column: 2/3;
    align-self: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 0rem 0rem;
}

.landing__button {
    font-size: 1.1rem;
    background-color: var(--bg-color-light);
    font-family: var(--font-primary);
    font-weight: 600;
    width: fit-content;
    width: 9.5rem;
    text-align: center;
    padding: 6px 5px;
    text-transform: uppercase;
}